<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Head aquí -->
</head>
<body>
    <h1>Crear nueva categoría</h1>
    <form th:action="@{/entity/categorias/crear}" th:object="${categoria}" method="post">

        <label for="nombreCategoria">Nombre:</label>
        <input type="text" id="nombreCategoria" th:field="*{nombreCategoria}" required>
        
        <label for="descripcionCategoria">Descripción:</label>
        <input type="text" id="descripcionCategoria" th:field="*{descripcionCategoria}">
        
      
        
        <button type="submit">Guardar</button>
    </form>
</body>
</html>
