<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
     <!-- Resto del encabezado... -->
     <script th:inline="javascript">
        /* Recuperar el valor del atributo 'nombreUsuario' del modelo y mostrarlo en la consola del navegador */
        var nombreUsuario = /*[[${nombreUsuario}]]*/ null;
        console.log("Nombre de administradorasdasd: " + nombreUsuario);
    </script>
    <title>Header</title>
    <link th:href="@{/paginas/css/estilosAdmin.css}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div id="contenedorCabecera">
        <div class="contenedorLogo" style="background-color: #a9db63;">
            <img src="../../../../paginas/imagen/logoFarmaMedic.png" alt="imagen">
        </div>
        
        <div class="contenedorUser" style="background-color: #a9db63;">
            <img src="../../../../paginas/imagen/simboloTuerca.png" alt="tuercaPerfil">
            <img src="../../../../paginas/imagen/user.png" alt="">
        
            <div id="contenedorCargoNombre">
            
                <div class="contectado">
                    <!-- Utilizamos la sintaxis de Thymeleaf para mostrar el nombre del usuario -->
                    <p id="nombreUsuarioHeader" th:text="${nombreUsuario}"></p>
                </div>
           
                <div class="contenedorCargo">
                    <p id="cargoText">Cargo: administrador</p>
                </div>
        
            </div>
        </div>
    </div>
</body>
</html>
