<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
     <!-- Resto del encabezado... -->
   
    <title>Header</title>
    <link th:href="@{/paginas/css/estilosAdmin.css}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div id="contenedorCabecera">
        <div class="contenedorLogo" style="background-color: #a9db63;">
            <img src="../../../../paginas/imagen/logoFarmaMedic.png" alt="imagen">
        </div>
        
        <div class="contenedorUser" style="background-color: #a9db63;">
            <img src="../../../../paginas/imagen/simboloTuerca.png" alt="tuercaPerfil">
            <img src="../../../../paginas/imagen/user.png" alt="">
        
            <div id="contenedorCargoNombre">
            
                <div class="contectado">
                    <p style="margin: 0;">Hola, Laura Montoya</p>

                </div>
           
                <div class="contenedorCargo">
                    <p id="cargoText">Cargo: administrador</p>
                </div>
        
            </div>
        </div>
    </div>
   
    
</body>
</html>
