<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/paginas/css/estilosAdmin.css}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>

    <div th:replace="header.html"></div>

    <div class="contenedorInferior">

        <div th:replace="navbar.html"></div>
    <h1>Lista de Categorías</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="categoria : ${categorias}">
                <td th:text="${categoria.idCategoria}"></td>
                <td th:text="${categoria.nombreCategoria}"></td>
                <td th:text="${categoria.descripcionCategoria}"></td>
                <!-- Lógica condicional para mostrar "Activado" o "Desactivado" -->
                <td>
                    <span th:text="${categoria.estado == 1 ? 'Activado' : 'Desactivado'}"></span>
                </td>
                <td>
                    <button class="editar-btn"
                            data-id="${categoria.idCategoria}"
                            data-nombre="${categoria.nombreCategoria}"
                            data-descripcion="${categoria.descripcionCategoria}"
                            data-estado="${categoria.estado}">
                            <img th:src="@{/paginas/imagen/editImg.png}" alt="editar">
                    </button>
                    <a th:href="@{/entity/categorias/eliminar/{id}(id=${categoria.idCategoria})}"> <img th:src="@{/paginas/imagen/eliminar.png}" alt="eliminar"></a>
                </td>
                
            </tr>
        </tbody>
        
        
    </table>
    <button onclick="abrirModal()">Agregar nueva categoría</button>

 
</body>
</html>