<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link th:href="@{/paginas/css/estilosAdmin.css}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link th:href="@{/paginas/css/listaCategorias.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/paginas/css/modal.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/paginas/css/ventasEstilos.css}" rel="stylesheet" type="text/css" />


    <meta charset="UTF-8">
    <title>Formulario de Registro de Venta</title>
</head>

<body style="background-color: rgba(148, 148, 148, 0.308);">
    <div th:replace="header.html"></div>
    <div class="contenedorInferior">
        <div th:replace="navbar.html"></div>
        <div class="ContenedorVentas" style="width: 1500px;">
           <div class="tituloButton" style=" background-color: transparent; align-items: center; height: 120px; display:  flex; justify-content: space-between;">
            <h1 style="margin-left: 70px; font-family: Poppins;
            font-size: 35px;
            font-style: normal;
            font-weight: 500;
            line-height: 21px;">Administrar Ventas</h1>    
            
           
           </div> 
           <div class="tablaVentas" style="background-color: white;   height: 650px; display: flex;
           margin: auto;
           width: 1400px; ">
            <table style="justify-content: center; width: 1200;">
                <thead>
                    <tr>
                        <th>ID Venta</th>
                        <th>ID Vendedor</th>
                        <th>Nombre Cliente</th>
                        <th>Fecha Registro</th>
                        <th>Total Venta</th>
                        <th>Ver detalle</th> <!-- Nueva columna -->
                    </tr>
                </thead>
                <tbody>
                    <!-- Iterar sobre la lista de ventas y mostrar los detalles -->
                    <tr th:each="venta : ${ventas}">
                        <td th:text="${venta.idVenta}"></td>
                        <td th:text="${venta.vendedor.nombres}"></td>
                        <td th:text="${venta.nombreCliente}"></td>
                        <td th:text="${#dates.format(venta.fechaRegistro, 'dd-MM-yyyy')}"></td>
                        <td id="totalVenta" th:text="${venta.totalVenta}"></td>
                        <td >
                            <button  style="background: #094558; display: flex; margin: auto; color: #FFF;" th:onclick="'verDetalleVenta(' + ${venta.idVenta} + ')'" >Ver detalle</button>
                        </td>
                    </tr>
                </tbody>
            </table>
           </div>
        </div>
        
       

      
<!-- Modal para mostrar el detalle de la venta -->
<div id="modalDetalleVenta" style="display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5);">
    <div style="background-color: white; width: 80%; max-width: 600px; margin: 100px auto; padding: 20px;">
        <h2>Detalle de la Venta</h2>
        <!-- Aquí mostrarás la información de la venta seleccionada -->
        <div id="detalleVentaInfo"></div>
        <button onclick="cerrarModalDetalleVenta()">Cerrar</button>
    </div>
</div>

    
    </div>
    <script>
        // Contador para dar un identificador único a cada grupo de campos de productos
        let productoCounter = 1;

        // Función para agregar un nuevo grupo de campos de productos
        function agregarProducto() {
            const productosContainer = document.getElementById("productosContainer");

            const nuevoProducto = document.createElement("div");
            nuevoProducto.className = "producto";

            nuevoProducto.innerHTML = `
                <label for="nombreProducto">Nombre del Producto:</label>
                <input type="text" class="nombreProducto" name="nombreProducto" required>
                <label for="precio">Precio:</label>
                <input type="number" class="precio" name="precio" required>
                <label for="cantidad">Cantidad:</label>
                <input type="number" class="cantidad" name="cantidad" required>
                <label for="stock">Stock:</label>
                <input type="number" class="stock" name="stock" required>
                <button type="button" onclick="agregarProducto()">+</button>
            `;

            productosContainer.appendChild(nuevoProducto);
        }

        document.getElementById("productosContainer").addEventListener("change", calcularTotal);

        function calcularTotal() {
            const precios = document.querySelectorAll(".precio");
            const cantidades = document.querySelectorAll(".cantidad");

            let total = 0;
            for (let i = 0; i < precios.length; i++) {
                total += parseFloat(precios[i].value) * parseInt(cantidades[i].value);
            }

            document.getElementById("total").value = total;
        }

        function abrirModalVentas() {
            document.getElementById("modal").style.display = "block";
        }

        function cerrarModalVentas() {
            document.getElementById("modal").style.display = "none";
        }

        function verDetalleVenta(idVenta) {
        // Obtener la información de los detalles de la venta mediante una llamada AJAX al nuevo endpoint
        fetch(`/entity/venta/detalle/${idVenta}`)
            .then(response => response.json())
            .then(data => {
                // Construir el contenido HTML de los detalles de la venta
                let detalleVentaHTML = '';
                data.forEach(detalle => {
                    detalleVentaHTML += `
                        <p>ID Producto: ${detalle.producto.idProducto}</p>
                        <p>Nombre Producto: ${detalle.producto.nombreProducto}</p>
                        <p>Cantidad: ${detalle.cantidad}</p>
                        <p>Precio Venta: ${detalle.precioVenta}</p>
                        <!-- Otras propiedades del detalle de venta... -->
                        <hr>
                    `;
                });

                // Mostrar los detalles de la venta en el modal
                const detalleVentaInfo = document.getElementById("detalleVentaInfo");
                detalleVentaInfo.innerHTML = detalleVentaHTML;

                // Mostrar el modal
                document.getElementById("modalDetalleVenta").style.display = "block";
            })
            .catch(error => console.error('Error al obtener los detalles de la venta', error));
    }

    function cerrarModalDetalleVenta() {
        document.getElementById("modalDetalleVenta").style.display = "none";
    }
    </script>
    <script th:inline="javascript">
        function mostrarPrecioVenta() {
            const selectProducto = document.getElementById("idProducto");
            const idProductoSeleccionado = selectProducto.value;

            const precioVentaSpan = document.getElementById("precioVentaSpan");
            const preciosVentaInput = document.getElementById("preciosVenta");
            const idProductoSeleccionadoInput = document.getElementById("idProductoSeleccionado");

            if (idProductoSeleccionado === "") {
                precioVentaSpan.textContent = "";
                preciosVentaInput.value = "";
                idProductoSeleccionadoInput.value = "";
            } else {
                const precioVentaProducto = selectProducto.options[selectProducto.selectedIndex].dataset.precioVenta;

                // Formatear el precioVentaProducto como moneda peruana
                const formatter = new Intl.NumberFormat("es-PE", {
                    style: "currency",
                    currency: "PEN",
                });
                const precioVentaFormateado = formatter.format(precioVentaProducto);

                precioVentaSpan.textContent = precioVentaFormateado;

                // Establecer los valores en los campos ocultos
                preciosVentaInput.value = precioVentaProducto;
                idProductoSeleccionadoInput.value = idProductoSeleccionado;

                calcularTotal();
            }
        }

        function calcularTotal() {
            const cantidadInput = document.getElementById("cantidades");
            const cantidad = cantidadInput.value;

            const preciosVentaInput = document.getElementById("preciosVenta");
            const precioVentaProducto = parseFloat(preciosVentaInput.value);

            const total = cantidad * precioVentaProducto;

            const formatter = new Intl.NumberFormat("es-PE", {
                style: "currency",
                currency: "PEN",
            });
            const totalFormateado = formatter.format(total);

            const totalInput = document.getElementById("total");
            totalInput.value = totalFormateado;
        }
    </script>

</body>

</html>
