<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/paginas/css/estilosAdmin.css}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link th:href="@{/paginas/css/listaCategorias.css}" rel="stylesheet" type="text/css"/>   
    <link th:href="@{/paginas/css/modal.css}" rel="stylesheet" type="text/css"/>   
<style>
    
</style>
</head>
<body style="background-color: rgba(148, 148, 148, 0.308);">
    <div th:replace="header.html"></div>
    <div class="contenedorInferior">
    <div th:replace="navbar.html"></div>
    <div class="contenedor-Info">
        <div class="contenedor-infoCabezera">
            <h1  class="text-titulo">Lista de Productos</h1>    
            <button class="boton-agregar" onclick="abrirModal()">Agregar nuevo Producto
            </button>
        </div>
        <div class="contenedor-buscar">
            <span class="opcion-buscar"> Buscar:</span>
            <input class="buscar-input"  type="text" id="searchInput" >
        </div>
        
        <div class="table-container">

            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Descripción</th>
                <th>Precio Compra</th>
                <th>Precio Venta</th>
                <th>Categoría</th>
                <th>Fecha Vencimiento</th>
                <th>Stock</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="producto : ${productos}">
                <td th:text="${producto.idProducto}"></td>
                <td th:text="${producto.nombreProducto}"></td>
                <td th:text="${producto.descripcionProducto}"></td>
                <!-- Supongamos que tienes dos elementos <td> con las clases "precioCompra" y "precioVenta" donde deseas mostrar los precios -->
                <td class="precioCompra" th:text="${producto.precioCompraProducto}"></td>
                <td class="precioVenta" th:text="${producto.precioVentaProducto}"></td>

                <td th:text="${producto.categoria.nombreCategoria}"></td>
                <td th:text="${#dates.format(producto.fechaVencimiento, 'dd-MM-yyyy')}"></td>
                <td th:text="${producto.stock}"></td>
                <td>
                    <!-- Agregar botón para abrir el modal de edición -->
                    <button style="background-color: transparent; border: none; padding: 0px;"  class="editar-btn"
                            th:data-id="${producto.idProducto}"
                            th:data-nombre="${producto.nombreProducto}"
                            th:data-descripcion="${producto.descripcionProducto}"
                            th:data-precio-compra="${producto.precioCompraProducto}"
                            th:data-precio-venta="${producto.precioVentaProducto}"
                            th:data-categoria="${producto.categoria.idCategoria}"
                            th:data-fecha-vencimiento="${#dates.format(producto.fechaVencimiento, 'yyyy-MM-dd')}"
                            th:data-stock="${producto.stock}"
                            onclick="cargarDatosProducto(this.getAttribute('data-id'), this.getAttribute('data-nombre'), this.getAttribute('data-descripcion'), this.getAttribute('data-precio-compra'), this.getAttribute('data-precio-venta'), this.getAttribute('data-categoria'), this.getAttribute('data-fecha-vencimiento'), this.getAttribute('data-stock'))">
                        <img th:src="@{/paginas/imagen/editImg.png}" alt="editar" />
                    </button>
                    <a th:href="@{/entity/productos/eliminar/{id}(id=${producto.idProducto})}">
                        <img th:src="@{/paginas/imagen/eliminar.png}" alt="eliminar" />
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</div>
</div>



</div>

<div id="modalCategoria" class="modal">
    <div class="modal-contentP">
        <span class="close" onclick="cerrarModal()">&times;</span>
        <h1 style="text-align: center;">Crear nuevo producto</h1>
        <form th:action="@{/entity/productos/crear}" th:object="${nuevoProducto}" method="post" style="padding: 20px;">
            <div class="first-group">
                <div class="modal-nombre">
                    <label class="text-form" for="nombreProducto">Nombre:</label>
                    <input class="input-firstG" type="text" id="nombreProducto" th:field="*{nombreProducto}" required>
                </div>
                <div class="modal-categoria">
                    <label class="text-form" for="categoria">Categoría:</label>
                    <select class="input-firstG" id="categoria" th:field="*{categoria.idCategoria}" required>
                        <option th:each="categoria : ${categorias}" th:value="${categoria.idCategoria}" th:text="${categoria.nombreCategoria}"></option>
                    </select>
            </div>
        </div>

        <div class="second-group">
                <div class="modal-priceC">
                    <label class="text-form"  for="precioCompraProducto">Precio de compra:</label>
                    <input class="input-price" type="text" id="precioCompraProducto" th:field="*{precioCompraProducto}" required>
                </div>                
                <div class="modal-priceV">
                    <label class="text-form" for="precioVentaProducto">Precio de venta:</label>
                    <input class="input-price" type="text" id="precioVentaProducto" th:field="*{precioVentaProducto}" required>
                </div>
            <div class="modal-fechaNac">
                <label class="text-form" for="fechaVencimiento">Fecha de vencimiento:</label>
                <input class="input-fechaVen" type="date" id="fechaVencimiento" th:field="*{fechaVencimiento}" required>
            </div>
        </div>
        <div class="second-group">
            <div class="modal-stock">
                <label class="text-form" for="stock">Stock:</label>
                <input class="input-price" type="number" id="stock" th:field="*{stock}" required>
            </div>

            <div class="modal-descripcion">
                <label class="text-form1" for="descripcionProducto">Descripción:</label>
                <input class="input-modalT" type="text" id="descripcionProducto" th:field="*{descripcionProducto}">
            </div>
        </div>
            <button class="boton-guardarF" type="submit">Guardar</button>
        </form>
    </div>
</div>
<!-- Modal para mostrar el formulario de edición -->
<div id="modalEditarProducto" class="modal">
    <div class="modal-content">
        <span class="close" onclick="cerrarModalEditar()">&times;</span>
        <h2 style="text-align: center;" id="modalTitle">Editar producto</h2>
        <form class="formularioProducto" id="formularioEditarProducto" th:action="@{/entity/productos/editar}" style="padding: 20px;" method="post">
            <input type="hidden" id="editProductoId" name="idProducto" />
            <div class="form-group">
                <label for="editNombreProducto">Nombre:</label>
                <input type="text" id="editNombreProducto" name="nombreProducto" required />
            </div>
            <div class="form-group">
                <label for="editDescripcionProducto">Descripción:</label>
                <input type="text" id="editDescripcionProducto" name="descripcionProducto" />
            </div>
            <div class="form-inline">
                <div class="form-group">
                    <label for="editPrecioCompraProducto">P. Compra:</label>
                    <input type="text" id="editPrecioCompraProducto" name="precioCompraProducto" required />
                </div>
                <div class="form-group">
                    <label for="editPrecioVentaProducto">P. Venta:</label>
                    <input type="text" id="editPrecioVentaProducto" name="precioVentaProducto" required />
                </div>
            </div>
            <div class="form-group">
                <label for="editCategoria">Categoría:</label>
                <select id="editCategoria" name="categoria.idCategoria" required>
                    <!-- Aquí cargamos las categorías disponibles -->
                    <option th:each="categoria : ${categorias}" th:value="${categoria.idCategoria}" th:text="${categoria.nombreCategoria}"></option>
                </select>
            </div>
            <div class="form-inline">
                <div class="form-group">
                    <label for="editStock">Stock:</label>
                    <input type="number" id="editStock" name="stock" required />
                </div>
                <div class="form-group">
                    <label for="editFechaVencimiento">Vencimiento:</label>
                    <input type="date" id="editFechaVencimiento" name="fechaVencimiento" required />
                </div>
            </div>
            <button type="submit" id="modalSubmitButton">Guardar</button>
        </form>
        
        
    </div>
</div>

<script>
    function abrirModalEditar() {
        document.getElementById("modalEditarProducto").style.display = "block";
    }

    function cerrarModalEditar() {
        document.getElementById("modalEditarProducto").style.display = "none";
    }

    function cargarDatosProducto(id, nombre, descripcion, precioCompra, precioVenta, categoriaId, fechaVencimiento, stock) {
        document.getElementById("editProductoId").value = id;
        document.getElementById("editNombreProducto").value = nombre;
        document.getElementById("editDescripcionProducto").value = descripcion;
        document.getElementById("editPrecioCompraProducto").value = precioCompra;
        document.getElementById("editPrecioVentaProducto").value = precioVenta;
        document.getElementById("editCategoria").value = categoriaId; // Asignar el valor del id de categoría al select
        document.getElementById("editFechaVencimiento").value = fechaVencimiento;
        document.getElementById("editStock").value = stock;
        abrirModalEditar();
    }

    // Escuchamos el evento click en los botones con la clase "editar-btn"
    const editarButtons = document.querySelectorAll(".editar-btn");
    editarButtons.forEach((btn) => {
        btn.addEventListener("click", (event) => {
            // Obtenemos los datos del atributo "data-" de cada botón
            const id = btn.dataset.id;
            const nombre = btn.dataset.nombre;
            const descripcion = btn.dataset.descripcion;
            const precioCompra = btn.dataset.precioCompra;
            const precioVenta = btn.dataset.precioVenta;
            const categoriaId = btn.dataset.categoria; // Obtenemos el ID de la categoría
            const fechaVencimiento = btn.dataset.fechaVencimiento;
            const stock = btn.dataset.stock;

            // Llamamos a la función que carga los datos en el formulario
            cargarDatosProducto(id, nombre, descripcion, precioCompra, precioVenta, categoriaId, fechaVencimiento, stock);
        });
    });
</script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Obtener todos los elementos con la clase "precioCompra" y "precioVenta"
        const precioCompraElements = document.querySelectorAll('.precioCompra');
        const precioVentaElements = document.querySelectorAll('.precioVenta');

        // Función para dar formato de moneda peruana a los elementos
        function formatearMonedaPeruana(elements) {
            elements.forEach(element => {
                // Obtener el valor numérico del elemento
                const precio = parseFloat(element.textContent);

                // Formatear el valor como moneda peruana (S/)
                const precioFormateado = new Intl.NumberFormat('es-PE', { style: 'currency', currency: 'PEN' }).format(precio);

                // Asignar el valor formateado de moneda al elemento
                element.textContent = precioFormateado;
            });
        }

        // Llamar a la función para formatear los precios de compra y venta
        formatearMonedaPeruana(precioCompraElements);
        formatearMonedaPeruana(precioVentaElements);
    });
</script>
<script>
    function abrirModal() {
        document.getElementById("modalCategoria").style.display = "block";
    }

    function cerrarModal() {
        document.getElementById("modalCategoria").style.display = "none";
    }
</script>
<script>
    document.getElementById('searchInput').addEventListener('input', function() {
      const query = this.value.toLowerCase();
      const rows = document.querySelectorAll('tbody tr');
  
      rows.forEach(function(row) {
        const nombre = row.children[1].textContent.toLowerCase();
        row.style.display = nombre.includes(query) ? 'table-row' : 'none';
      });
    });
  </script>
  


</body>
</html>