<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/paginas/css/estilosAdmin.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/paginas/css/vendedorEstilos.css}" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link th:href="@{/paginas/css/listaCategorias.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/paginas/css/modal.css}" rel="stylesheet" type="text/css" />
    <meta charset="UTF-8">
    <title>Lista de Vendedores</title>
</head>
<body style="background-color: rgba(148, 148, 148, 0.308);">
    <div th:replace="header.html"></div>
    <div class="contenedorInferior">
    <div th:replace="navbar.html"></div>
    <div class="contenedorGenerarVentas">
        <div class="titulo-boton" style="display: flex; margin: auto;">
            <h1 style="margin-left: 70px; font-family: Poppins;
            font-size: 40px;
            font-style: normal;
            font-weight: 500;
            line-height: 21px;">Lista de Vendedores</h1>
            <button class="boton-agregar" onclick="abrirModalVendedor()">Agregar nuevo vendedor</button>
       
       </div>
      
      <div class="tablaVendedor" style="background-color: white; display: flex; margin-left: 70px;">
         <table border="1">
           <thead>
               <tr>
                   <th>ID</th>
                   <th>Nombres</th>
                   <th>Apellidos</th>
                   <th>DNI</th>
                   <th>Teléfono</th>
                   <th>Dirección</th>
                   <th>Fecha de Creación</th>
                   <th>Acciones</th>
               </tr>
           </thead>
           <tbody>
               <tr th:each="vendedor : ${vendedor}">
                   <td th:text="${vendedor.idVendedor}"></td>
                   <td th:text="${vendedor.nombres}"></td>
                   <td th:text="${vendedor.apellidos}"></td>
                   <td th:text="${vendedor.DNI}"></td>
                   <td th:text="${vendedor.telefono}"></td>
                   <td th:text="${vendedor.direccion}"></td>
                   <td th:text="${vendedor.fechaCreacion}"></td>
                  
                    <td>
                        <!-- Agregar botón para abrir el modal de edición -->
                        <button style="background-color: transparent; border: none;">
                            <img th:src="@{/paginas/imagen/editImg.png}" alt="editar" />
                        </button>
                        <a>
                            <img th:src="@{/paginas/imagen/eliminar.png}" alt="eliminar" />
                        </a>
            </td>
               </tr>
           </tbody>
       </table>
      </div>
    </div>
    
  
  

    <!-- Modal para mostrar el formulario de creación de vendedores -->
<div id="modalVendedor" class="modal">
    <div class="modal-content">
        <span class="close" onclick="cerrarModalVendedor()">&times;</span>
        <h2 style="text-align: center;">Crear nuevo vendedor</h2>
        <form class="formularioVendedor" th:action="@{/entity/vendedor/guardar}" th:object="${nuevoVendedor}" method="post">
            <label for="nombres">Nombres:</label>
            <input type="text" id="nombres" th:field="*{nombres}" required/>

            <label for="apellidos">Apellidos:</label>
            <input type="text" id="apellidos" th:field="*{apellidos}" required/>

            <label for="dni">DNI:</label>
            <input type="text" id="dni" th:field="*{DNI}" required/>

            <label for="telefono">Teléfono:</label>
            <input type="text" id="telefono" th:field="*{telefono}" required/>

            <label for="direccion">Dirección:</label>
            <input type="text" id="direccion" th:field="*{direccion}" required/>

            <!-- Agrega otros campos del formulario aquí -->

            <button type="submit">Guardar</button>
        </form>
    </div>
</div>


    <!-- Script para el modal de creación de vendedor -->
    <script>
        function abrirModalVendedor() {
            document.getElementById("modalVendedor").style.display = "block";
        }

        function cerrarModalVendedor() {
            document.getElementById("modalVendedor").style.display = "none";
        }
    </script>
</div>
</body>
</html>
