<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <link th:href="@{/paginas/css/login.css}" rel="stylesheet" type="text/css" />
</head>
<body>

    <div class="container">
        <div class="container__Login">
          <div class="container__LoginForm">
             
    <form th:action="@{/entity/usuario/login}" method="post">
        <img class="login__image" th:src="@{/paginas/imagen/logoFarmaMedic.png}" alt="eliminar" />
<h2 class="login__tittle">Iniciar sesión</h2>
<p class="login__paragraph">
  Por favor, complete los siguientes campos antes de comenzar
</p>
<div class="container__LoginInput">
       
        <input class="container__Input" type="text" id="email" name="email" required>
        <label  for="email"><i class="fa-solid fa-user" style="color: #083452"></i>Email:</label>
    </div>
    <div class="container__LoginInput">
       
        <input  class="container__Input" type="password" id="pass" name="pass" required>
        <label for="pass"> <i class="fa-solid fa-eye-slash" style="color: #021635"></i>Contraseña:</label>
        </div>

            <input  class="container__button" type="submit" value="Ingresar">
    </form>
</div>
</div>
</div>
<script
src="https://kit.fontawesome.com/b9a2b0c154.js"
crossorigin="anonymous"
></script>
</body>
</html>
