<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link th:href="@{/paginas/css/estilosAdmin.css}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>

<body>


    <nav id="navContainer">

        <ul>
            <li>
                <a th:href="@{/entity/venta/}">
                    <div id="leftDiv"></div>
                    <i class="fas fa-chart-bar"></i>Ventas
                    <div id="rightDiv"></div>
                </a>
            </li>
            <li><a th:href="@{/entity/categorias/}">
                    <div id="leftDiv"></div>
                    <i class="fas fa-tags"></i>Categoria
                    <div id="rightDiv"></div>
                </a></li>
            <li><a th:href="@{/entity/productos/}">
                    <div id="leftDiv"></div>
                    <i class="fas fa-box"></i>Producto
                    <div id="rightDiv"></div>
                </a></li>
            <li>
                <a href="#">
                    <div id="leftDiv"></div>
                    <i class="fas fa-boxes"></i>Inventario
                    <div id="rightDiv"></div>
                </a>
            </li>
            <li>
                <a th:href="@{/entity/vendedor/}">
                    <div id="leftDiv"></div>
                    <i class="fas fa-users"></i>Empleados
                    <div id="rightDiv"></div>
                </a>
            </li>
            <li>
                <a th:href="@{/entity/pedidos/}">
                    <div id="leftDiv"></div>
                    <i class="fas fa-shopping-cart"></i>Pedidos
                    <div id="rightDiv"></div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div id="leftDiv"></div>
                    <i class="fas fa-user"></i>Mi perfil
                    <div id="rightDiv"></div>
                </a>
            </li>
            <li id="cerrarSesion">
                <a href="/entity/usuario/login">
                    <div id="leftDiv"></div>
                    <i class="fas fa-sign-out-alt"></i>Cerrar Sesión
                    <div id="rightDiv"></div>
                </a>
            </li>
        </ul>
    </nav>
</body>

</html>