<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categorias</title>
    <link rel="stylesheet" href="../administrador/estilosAdmin.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="../../js/componentesAdmin.js"></script>

</head>
<body>

   
    <div class="contenedorInferior">
<nav id="navContainer"></nav>
<div>
    <h1>Lista de Categorías</h1>
<button>+ Añadir Categoria</button>
<div>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
            <!-- Aquí se agregarán dinámicamente las filas de categorías -->
            <tr th:each="categoria : ${categorias}">
                <td th:text="${categoria.idCategoria}"></td>
                <td th:text="${categoria.nombreCategoria}"></td>
                <td th:text="${categoria.descripcionCategoria}"></td>
                <td th:text="${categoria.estado}"></td>
            </tr>
        </tbody>
    </table>
</div>
</div>


       </div>
</body>
</html>
