
  /* Estilos para la tabla */
  .table-container {
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-top: 20px;
    height: 620px !important;
    overflow-y: scroll;
    /* overflow-x: scroll; */
  }
  
  table {
    width: 90%;
    border-collapse: collapse;
    /* overflow-y: auto; */
    margin-top: 36px;
    margin-left: 76px;
  }
  
  th,
  td {
    border: 1px solid #ccc;
    padding: 12px;
    text-align: left;
  }
  
  thead th{
    background-color: #f2f2f2;
    position: sticky;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  /* Estilos para ocultar las filas que no coinciden con la búsqueda */
  tbody tr {
    display: table-row;
  }
 
  
  /* aca lo personalizado */
  .contenedor-Info{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .contenedor-infoCabezera{
    display: flex;
  }
  .text-titulo{
    margin: 0;
    color: #212121;
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 21px;
    margin-top: 39px;
    margin-left: 76px;
    margin-bottom: 46px;
  }
  .boton-agregar{
    border-radius: 10px;
    border: 3px solid #094558;
    background: #FFF;
    color: #094558;
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 21px;
    margin-left: 880px;
    width: 246px;
    height: 44px;
    margin-top: 40px;
  }
  .opcion-buscar{
    margin-left: 76px;
    color: rgba(0, 0, 0, 0.78);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .buscar-input{
    font-size: 18px;
    padding-left: 15px;
    border-radius: 10px;
    background: #FFF;
    width: 426px;
    height: 35px;
    outline-color: #094558;
  }
  


/* CSS for the form */
.formularioPedido {
  width: 80%;
  margin: 0 auto;
}
.formularioPedido label{
color: #272727b7;
display: flex;
}


.formulariogrupo {
  width: 320px;
  display: flex;
  margin-left: 0px;
  margin-bottom: 10px;
}

.grupo-label {
  display: block;

  margin-bottom: 5px;
}



.input-pedido {
  border: none;
  border-bottom: 1px solid rgb(105, 175, 0);
  border-right:1px solid rgb(105, 175, 0);
  background-color:rgba(165, 165, 165, 0.349);
  width: 100%;
  padding: 5px;
 
  border-radius: 5px;
}

.mnose2 {
  flex: 1;
  margin-left: 20px;
}

.nosexd {
  flex: 1;
}
.nosexd select{
width: 162px;
}
.nose3 {
  flex: 1;
}

.nose5 {
  flex: 1;
  margin-left: 25px;
}

.formula-grupo {
  display: flex;
  justify-content: space-between;
}

.grupo-precioC {
  flex: 1;
  margin-top: 10px;
 

}
.grupo-precioV {
  flex: 1;
margin-left: 25px;
  margin-top: 10px; 
  width: 172px;
 
}
#fecha{
  width: 152px;
}

.boton-guardarP {

  justify-content: center;
  width: 200px;
  display: flex;
  margin: auto;
  background-color: #00303f;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

/* Additional styling for the price spans */
.grupo-precio span {
  background-color: rgba(165, 165, 165, 0.349);
  font-weight: bold;
  color: #333;
}

.preciove{
border-bottom:1px solid rgb(105, 175, 0);
border-right:1px solid rgb(105, 175, 0);
padding-left: 10px;
  padding-right: 10px;
  width: 140px;
  align-items: center;
  height: 25px;
  background-color:rgba(165, 165, 165, 0.349);

}
.precioco{
  border-bottom: 1px solid rgb(105, 175, 0);
  border-right:1px solid rgb(105, 175, 0);
  padding-left: 10px;
  padding-right: 10px;
  width: 125px;
  align-items: center;
  height: 25px;
  background-color: rgba(165, 165, 165, 0.349);

}